html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lightbox-wrapper .ril-image-current {
  background-color: white; /* Set the white background for the lightbox image */
  border-radius: 8px; /* Optional: Rounded corners */
  z-index: 1050 !important;
}
